[submodule "external/openconnect"]
	path = external/openconnect
	url = git@github.com:openconnect/openconnect.git
	tag = v8.10
[submodule "external/stoken"]
	path = external/stoken
	url = https://github.com/cernekee/stoken
