[submodule "external/openconnect"]
	path = external/openconnect
	url = git@github.com:klo2k/openconnect.git
	branch = android_10_connect_crash_fix
[submodule "external/stoken"]
	path = external/stoken
	url = https://github.com/cernekee/stoken
